.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.locations__Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.locations__Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em;
}
.locations__Text h1 {
  font-size: 2.2rem;
  width: 67%;
  text-align: center;
  line-height: 2.8rem;
  font-weight: 500;
}
.locations__Text span {
  font-weight: 500;
}
.locations__Text p {
  font-size: 1rem;
  width: 90%;
  text-align: center;
  color: #4f5665;
  line-height: 1.9rem;
}
