.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: #f8f8f8;
  position: relative;
}
.footer__Container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 70%;
}
.about__Company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  height: 80%;
}
.about__Company .banner {
  width: 50%;
}
.about__Company p {
  font-size: 1rem;
  color: #4f5665;
  width: 60%;
  line-height: 1.8rem;
}
.about__Company span {
  font-weight: 500;
}
.social__Networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.social__Networks img {
  width: 4rem;
  height: 4rem;
  padding: 0;
  cursor: pointer;
}
footer {
  font-size: 1rem;
  color: #afb5c0;
}

.footer__Links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height: 90%;
}
.footer__Link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  width: 20%;
}
.footer__Link h1 {
  font-size: 1.1rem;
  color: #0b132a;
  font-weight: 500;
}
.footer__Link h3 {
  color: #4f5665;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
