.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14%;
}
.banner__Logo h1 {
  font-weight: 500;
  user-select: none;
}
.banner__Logo span {
  font-weight: 700;
}
